.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding-top: 3px;
  padding-bottom: 1px;
  color: white;
}

.App-footer {
  background-color: #222;
  padding: 20px;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

.App-title {
  font-size: 2.0em;
}

.App-intro {
  font-size: large;
}

.Loading{
  display: inline-block;
}

.MarketData{
  display: inline-block;
  color: #5bc0de;
}

.MarketData-Panel{
  display: inline-block;
  margin: 15px;
  min-width: 387.25px;
}

.MarketGraph-Panel{
  display: inline-block;
  margin: 15px;
  min-width: 915px;
}

.StockData-Panel{
  display: inline-table;
  width: 300px;
  margin: 15px;
  min-height: 178px;
  text-align: center;
}

.StockData-PanelSuggestion{
  display: inline-table;
  width: 75%;
  margin: 15px;
  min-height: 200px;
  text-align: center;
}

.SearchBar{
  background-color: #222;
  border: none;
}

.HomeButton {
  display: inline-block;
  margin-bottom: 3px;
  margin-top: 10px;
}

.messageHeader {
  text-align: center;
  size: 1.5em;
  height: 40px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.errorHeader {
  background-color: rgb(255, 181, 181) !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

